.header {
    color: white;
    text-align: center;
    height: 100vh;
}

.banner {
    width: 100%;
    height: 100vh;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes banner {

    0%,
    20% {
        background-image: url('src/img/banner.jpg');
    }

    25%,
    45% {
        background-image: url('src/img/bannerdos.png');
    }

    50%,
    70% {
        background-image: url('src/img/bannertres.png');
    }

    75%,
    100% {
        background-image: url('src/img/bannercuatro.png');
    }
}

.capa {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.info {
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.info h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.info p {
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;
}

.info a {
    color: #fff;
    text-decoration: none;
    background: #3088e0;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}